/* Header Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* Header h1 */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


/* Header p */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

#main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #333;
}

/* #header{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
} */
#header-logo{
    padding: 0.4rem 0;
}
#header-bar{
    width: fit-content;
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #051A35;
    color: #BAF801;
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    top: 0;
    z-index: 2;
}


#header-bar-menu{
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#header-menu{
    width: fit-content;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: red; */
    
}

#welcome-user{
    /* width: 100vw; */
    height: fit-content;
    display: flex;
    justify-content: flex-end;

}

.header-navlink{
    
    color: #BAF801;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;

    font-size: 12px;
    
    border: 2px solid transparent;
}

.header-navlink:hover{
    border-bottom:2px solid #BAF801;
    color: #BAF801;
    font-weight: 800;
    box-sizing: border-box;
}


#outlet{
    width: 100vw;
    min-height: fit-content;
    /* background: #BAF801; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    background: rebeccapurple;
}