

#city-box{
    margin: 2rem;
    padding: 0;
    box-sizing: border-box;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../../assets/jerusalem.jpg')no-repeat center center/cover;
    color: #f2f545;
    font-size: 10px;
    border-radius: 5px;
    box-shadow: rgb(255, 255, 255) 0px 1px 4px;
    position: relative;
}
#dash{
    width: 30%;
    height: 0;
    border-bottom: 2px solid #f2f545;
}
#image-opacity{}

#city-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 2;
    background: rgb(205, 219, 2);
    background: linear-gradient(172deg, rgb(244, 236, 3) 9%, rgba(236,249,30,1) 19%, rgba(203,178,106,1) 38%, rgba(240,229,7,1) 47%, rgb(255, 251, 0) 66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#city-info:hover{
    cursor: pointer;
}