


#tours-per-city-page{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    /* background: #051A35; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-top:6rem ;
}

#tours-per-city-show{
    width: 70vw;
    height: 80vh;
    /* margin-top: 50rem; */
    display: flex;
    flex-wrap: wrap;
    /* background: red; */
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}


@media only screen and (max-width: 800px){

    #tours-per-city-show{
        width: 100vw;
    }


}