

#tours-page{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    overflow-y: scroll;
    background: #051A35;
}


#tours-display{
    width:70%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 3rem;
}


@media only screen and (max-width: 800px){
    #tours-page{
        width: 100vw;
        max-height: 80vh;
    }

    #tours-display{
        width: 100vw;
        height: 70%;
        overflow-y: scroll;
        margin: auto;
        margin-top: 10rem;
    }

}