#divider {
  width: 90vw;
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  margin-top: 10rem;
  background: rgb(78,85,123);
background: linear-gradient(27deg, rgba(78,85,123,1) 0%, rgba(248,248,255,1) 43%, rgba(59,66,93,1) 99%);
}

#control-btns {
  width: fit-content;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 2rem;
  margin: auto;
}

.control-btns-link {
  width: 10rem;
  padding: 0.5rem;
  background: #051a35;
  border-radius: 15px;
  color: aliceblue;
  margin: 1rem;
  text-align: center;
}

.control-btns-link:hover {
  background: #baf801;
  color: #051a35;
}

#tour-show {
  width: 50%;
  min-height: 90vh;
  color: #3a415c;
  box-sizing: border-box;
  background: rgb(78,85,123);
  background: linear-gradient(27deg, rgba(78,85,123,1) 0%, rgba(248,248,255,1) 90%, rgba(59,66,93,1) 99%);
}

#tour-view {
  width: 80%;
  min-height: 90vh;
  color: #3a415c;
  box-sizing: border-box;
  padding: 2rem;
}
