
/* Header Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* Header h1 */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


/* Header p */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');



#page-container{
    width: 100vw;
    height: 100vh;
    background: url('../assets/jerusalem.jpg')no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
}

#black-div{
   
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(59,66,93);
    background: linear-gradient(27deg, rgba(59,66,93,1) 40%, rgba(78,85,123,1) 100%, rgba(255,255,255,1) 100%);
    opacity: 0.4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



#header-text{
    width: 50vw;
    height: 30vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 12rem;
    z-index: 1;
   
}
#header-h1{
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
}
#header-h1, #header-p{
    background: rgb(203,178,106);
    background: linear-gradient(172deg, rgba(203,178,106,1) 9%, rgba(236,249,30,1) 19%, rgba(203,178,106,1) 38%, rgba(240,229,7,1) 47%, rgba(203,178,106,1) 66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#header-p, #ourtours-link{
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;

}

#ourtours-link{
    color: rgb(240,229,7,1);
    background: rgb(59,66,93);
    background: linear-gradient(27deg, rgba(59,66,93,1) 40%, rgba(78,85,123,1) 100%, rgba(255,255,255,1) 100%);
    padding: 0.5rem 2rem;
    border-radius: 10px;
    
    
}



#ourtours-link:hover{
    background: rgb(203,178,106);
    background: linear-gradient(172deg, rgba(203,178,106,1) 9%, rgba(236,249,30,1) 19%, rgba(203,178,106,1) 38%, rgba(240,229,7,1) 47%, rgba(203,178,106,1) 66%);
    color: rgb(59,66,93,1);
}


@media only screen and (max-width: 800px) {

    #header-h1{
        width: 150%;
        font-size: 2.5rem;
        text-align: center;
    }
    #header-p{
        width: 180%;
        font-size: 1rem;
        text-align: center;
    }


}