


#select-lang{
    width: 12rem;
    height: 2.5rem;
    color: black;
    /* margin: 0.5rem; */
    font-size: 12px;
    border: 1px solid transparent;
    
    
    
}

@media only screen and (max-width: 800px){
    #select-lang{
        width: 100%;
        height: rem;
        font-size: 12px;
    }
}