


#TouristDashboard-page{
    width: 100vw;
    height: 100vh;
    background: green;
    display: flex;
    color: black;
    box-sizing: border-box;
}


#TouristDashboard-side-menu{
    width: 20%;
    height: 100vh;
    background: rgb(59,66,93);
    background: linear-gradient(27deg, rgba(59,66,93,1) 40%, rgba(78,85,123,1) 100%, rgba(255,255,255,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#TouristDashboard-side-menu ul{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
   
    margin: 0;
    padding: 0;
    margin-top:5rem  ;
    align-items: center;
}

.side-menu-links{
    width: 60%;
    color: black;
    margin-top: 1.5rem;
    background: transparent;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    border:1px solid transparent;
    border-radius: 8px;
    
    font-size: 12px;

}

.side-menu-links:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


#TouristDashboard-outlet{
    width: 100%;
    height: 95vh;
    background: red;
}


@media only screen and (max-width: 800px){

    #TouristDashboard-page{
        width: 100vw;
        height: 85vh;
        flex-direction: column-reverse;
        align-items: center;
        /* margin-top: 20rem; */
        justify-content: center;
        box-sizing: border-box;
    }
    #TouristDashboard-side-menu{
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        /* margin-bottom: 30rem; */
        margin: auto;
        position: fixed;
        bottom: 0;
        box-sizing: border-box;
    }

    #TouristDashboard-side-menu ul{
        width: 90%;
        height: fit-content;
        flex-direction: row;
        margin: auto;
       
    }

    #TouristDashboard-outlet{
        width: 100vw;
        height:90vh;
        overflow-y: scroll;
        box-sizing: border-box;

    }

    .side-menu-links{
        margin: 0.5rem;
    }
}