
.chat-page{
    width: 100vw;
    height: 100vh;
    /* background: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#chat-container{
    box-sizing: border-box;
    width: 40rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    color: aliceblue;
    border-radius: 15px;
    background: rgb(59,66,93);
    background: linear-gradient(27deg, rgba(59,66,93,1) 40%, rgba(78,85,123,1) 100%, rgba(255,255,255,1) 100%);
}

#chat-area{
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    padding: 1rem;
    overflow-y: scroll;
    border-radius: 15px;
    background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#message-div{
    height: fit-content;
    /* background: #ede920; */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    /* justify-content: start; */

    margin-top: -1rem;
}

#message-content{
    width: fit-content;
    background: #5a7da5;
    display: flex;
    padding: 0.5rem;
    border-radius: 15px;
}

#message-control{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#message-input{
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
    background: #e7ebef;
    color: #234c9a;
    font-size: 15px;
    font-weight: 700;
}

#chat-Btn{
    width: 20%;
    /* height: 100%; */
    text-align: center;
    box-sizing: border-box;
    padding: 0.2rem 0.4rem;
    /* margin: 0.2rem; */
    background: #000;

    align-items: center;
    appearance: none;
    background-image: radial-gradient(circle, rgba(78,85,123,1) 0%, rgba(117,122,152,1) 100%);
    border-radius: 0 6px 6px 0;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #ede920;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 100%;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 15px;
}


@media only screen and (max-width: 800px){
    .chat-page{
        justify-content: end;
    }
    #chat-container{
        width: 100vw;
        height: 84vh;
        border-radius: 0;
        font-size: 13px;

    }

    #chat-area{
        height: 89%;
    }


}