#auction-page {
  width: 100vw;
  height: 100vh;
  background: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#auctionpage-aucinfo {
  width: 50vw;
  height: 20vh;
  background: rgb(78, 85, 123);
  background: linear-gradient(
    27deg,
    rgba(78, 85, 123, 1) 0%,
    rgba(248, 248, 255, 1) 43%,
    rgba(59, 66, 93, 1) 99%
  );
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 5rem;
}



#bids-container {
  width: 50vw;
  height: 50vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  background: #4e577b;
  background: linear-gradient(
    27deg,
    rgba(78, 85, 123, 1) 0%,
    rgba(248, 248, 255, 1) 43%,
    rgba(59, 66, 93, 1) 99%
  );
  /* background: linear-gradient(27deg,rgba(59,66,93,1) 40% , rgba(248,248,255,1) 43%,  rgba(78,85,123,1) 50%); */
  border-radius: 10px;
}

#realtime-auction {
  width: 60%;
  height: 80%;
  background: rgb(78, 85, 123);

  overflow-y: scroll;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 15px;
  color: #fff;
  position: relative;
  padding-top: 2rem;
}

#realtime-auction::-webkit-scrollbar {
  display: none;
}


#newest-bid {
  background: green;
  box-sizing: border-box;
  font-size: 15px;
  padding: 0.2rem;
  text-align: center;
  border-radius: 25px;
  color: rgb(224, 224, 29);
  /* position: fixed; */
  /* margin-top: -10; */
  /* top: 10; */
  
}

#old-bids{
  /* margin-top: 3rem; */
}
#bid-controller {
  width: 10rem;
  display: flex;
}

#bid-controller input {
  width: 70%;
  border-radius: 10px 0 0 10px;
  border: 1px solid transparent;
  box-sizing: border-box;
  padding: 1rem;
}

#bid-controller button {
  /* width: 30%; */
  border-radius: 0px 10px 10px 0px;
}

.info-table {
  display: inline;
}

#controller{
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


@media only screen and (max-width: 800px){
  #auctionpage-aucinfo{
    width: 90vw;
    font-size: 15px;
  }

  #bids-container{
    width: 90vw;
    flex-direction: column;
    padding: 0.5rem;
    box-sizing: border-box;
  }

  #realtime-auction{
    width: 90%;
    font-size: 12px;
  }

  #newest-bid{
    font-size: small;
    background: #93a3e3;
    color: rgb(255, 255, 0);
  }

  #controller{
    /* flex-direction: row; */
    justify-content: space-around;
  }
}